<footer class="section-footer section">
    <div class="container grid grid-four-column">
      <div class="f-about">
        <h3>About</h3>
        <p>
          Helping hands is non profitable charity organization.
          Eliminating the root of problems of medical health by providing medical camps and medical needs to the needy.
          The organization has collaborated with different hospitals and medical facilities and other NGO's to provide
          goods to needy people.
        </p>
      </div>
      <div class="f-links">
        <h3>links</h3>
        <ul>
          <li><a href="#"><ion-icon name="arrow-forward-outline"></ion-icon> Home</a></li>
          <li><a href="#about"><ion-icon name="arrow-forward-outline"></ion-icon> about</a></li>
          <li><a href="#how-it-works"><ion-icon name="arrow-forward-outline"></ion-icon> How it works</a></li>
          <li><a href="#contact"><ion-icon name="arrow-forward-outline"></ion-icon> Contact us</a></li>
        </ul>
      </div>
      <div class="f-services">
        <h3>services</h3>
        <ul>
          <li><a href="/foodbank"><ion-icon name="arrow-forward-outline"></ion-icon> Food Bank</a></li>
          <li><a href="/clothes"><ion-icon name="arrow-forward-outline"></ion-icon> Clothes</a></li>
          <li><a href="/medicalhelp"><ion-icon name="arrow-forward-outline"></ion-icon> Medical Helps</a></li>
          <li><a href="raisefunds"><ion-icon name="arrow-forward-outline"></ion-icon> Raise Funds</a></li>
        </ul>
      </div>
      <div class="f-address">
        <h3>Have a question?</h3>
        <address>
          <p>
            <span>
              <ion-icon name="location-outline"></ion-icon> Shimla, India
            </span>
          </p>

          <div>
            <p>
              <span>
                <ion-icon name="call-outline"></ion-icon>
                <a href="tel:+919383129090"> 9383129090 </a>
              </span>
            </p>
          </div>
          <div>
            <p>
              <span>
                <ion-icon name="mail-outline"></ion-icon> <a href="mailto:helpinghands2524@gmail.com">
                  helpinghands2524@gmail.com
                </a>
              </span>
            </p>
          </div>
        </address>
      </div>
    </div>
    <div class="container">
      <div class="f-icons">
        <a href="#"><ion-icon name="logo-instagram" class="icons"></ion-icon>
        </a>
        <a href="#"><ion-icon name="logo-facebook" class="icons"></ion-icon>
        </a>
        <a href="#"><ion-icon name="logo-whatsapp" class="icons"></ion-icon>
        </a>
      </div>
      <div class="f-credits">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, pariatur?
        </p>
      </div>
    </div>
  </footer>