<div class="header" id="sticky">
     <div class="img"> <img src="../css/image/logo3.jpg" alt="logo" class="logo" /> </div>
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="border"><a class="navbar-link" href="/">Home</a></li>
          <li class="border"><a class="navbar-link" href="/#about">About</a></li>
          <li class="border"><a class="navbar-link" href="/#how-it-works">How it works</a></li>
          <li class="border"><a class="navbar-link" href="/#contact">Contact us</a></li>
          <li><a class="navbar-link" href="../donate"> <img src="../css/image/d-icon65.png" alt="logo" class="d-icon" /></a></li>
        </ul>
      </nav>

      <div class="mobile-navbar-btn">
        <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
        <ion-icon name="close-outline" class="mobile-nav-icon"></ion-icon>
      </div>
    </div>
