<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>{{>nav}}
    <section class="section-hero section background-nav">
        <div class="container grid grid-two-column">
          <div class="section-hero-date">
            <h1 class="hero-heading">Food Bank</h1>
            <p class="heading-para">If you can't feed a hundred people,
                Then feed just one_____ Mother Teresa..
                Food drives are a popular fundraiser these days, and for good reason! They meet a huge need, everyone can participate
                Don’t be rude, donate some food........
                We should all provide food for the poor. So many families die every day of starvation while we waste our food. 
                Everyone should have the right to live a healthy life especially when there are tonnes of food being wasted every year. Thousands of people are dying because of hunger. People become less productive and able to work without food, we need to help them out. No one deserves to go through the pain of starvation, that’s why we should all provide food for the poor
                Our organization provides langar from 1:00 p.m. Up to 3:00 p.m. on certain days in various hospitals
                Every morning at 10:00 a vehicle of our organization comes to Shimla or some nearby places, from where the rotis donated by you reach the hospital's patients and their well wishers.
                If you are unable to give rotis, then you can help us by donating some money.
            </p>
         
            <!-- <div class="hero-bg"><a href="/registration" class="btn donate-now-btn"><img src="css/image/d-icon65.png" alt="logo"
                  class="d-icon" /></a></div> -->
          </div>
          <div class="about-image-div"><img src="../css/image/foodbankimg.jpg" alt="image" class="about-image"></div>
        </div>
        <div class="container login"><a href="/registration"><button class="login-btn">Register/Login</a></button> </div>
      </section>
      {{>footer}}
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="js/index.js"></script>
</body>
</html>