<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>helping hands</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>
  <!-- ======================================== 
          navigation bar
    ========================================  -->

  <header class="background-nav">

    {{>nav}}
    <!-- ======================================== 
          Our slogan section  
    ========================================  -->
    <section class="section-hero section" style="margin-top: 0; padding-top:6rem">
      <div class="container grid grid-one-column">
        <div class="section-hero-date">
          <h1 class="hero-heading">Helping hands</h1>
          <p class="heading-para">The more contributions fundraisers bring in, the bigger the impact.
            <br> Play your role in the constructive cause. <br>
            When you give, give with your whole heart. <br>
            An act of giving is an act of huminity.
          </p>
          <div class="hero-bg"><a href="/donate" class="btn donate-now-btn"><img src="css/image/d-icon65.png"
                alt="logo" class="d-icon" /></a></div>
        </div>
      </div>
      <div class="container login" style="margin-bottom: 2rem;"><a href="/registration" style="color:white"><button class="login-btn">Register/Login</a></button> </div>
    </section>
  </header>
  <!-- ======================================== 
          Our main and service section
    ========================================  -->
  <main>
    <section class="service section">
      <div class="container grid grid-four-column">
        <div class="service-data">
          <img src="css/image/f1.jpg" alt="image" class="features-img">
          <a href="/foodbank"> <button class="service-function-buttons">FOOD BANK</button></a>
        </div>
        <div class="service-data">
          <img src="css/image/f3.jpg" alt="image" class="features-img">
          <a href="/clothes"> <button class="service-function-buttons">CLOTHES</button></a>
        </div>
        <div class="service-data">
          <img src="css/image/f2.jpg" alt="image" class="features-img">
          <a href="/medicalhelp"><button class="service-function-buttons">MEDICAL HELP</button></a>
        </div>
        <div class="service-data">
          <img src="css/image/f4.png" alt="image" class="features-img">
          <a href="/raisefunds"> <button class="service-function-buttons">Education</button> </a>
        </div>
      </div>
    </section>
    <!-- ======================================== 
          Our about section
    ========================================  -->
    <section class="about section" id="about">
      <div class="container grid grid-two-column">
        <div class="about-data">
          <h2>About us </h2>
          <p class="heading-para">Helping hands is non profitable charity organization.<br>
            Helping hands has transformed lives in every dimension spoken. <br>

            Eliminating the root of problems of medical health by providing medical camps and medical needs to the
            needy. <br>

            The organization has collaborated with different hospitals and medical facilities and other NGO's to provide
            goods to needy people. <br>

            Providing them help like food facility like langar seva and clothes donations for the poor people and
            medical help that is given by the medical health checkup camps organised by hospitals and NGO's. <br>

            HUMANITY IS SERVICE OF THE ALMIGHTY ❤.
          </p>
        </div>
        <div class="about-image-div"><img src="css/image/about.jpg" alt="image" class="about-image"></div>
      </div>
    </section>
    </section>
  </main>


  <!-- ======================================== 
          Our how its works  Section Start  
    ========================================  -->
  <section class="about section" id="how-it-works">
    <div class="container grid grid-two-column abt">
      <div class="about-image-div"><img src="css/image/clothes.jpg" alt="image" class="about-image"></div>
      <div class="about-data">
        <h2>How it works </h2>
        <p class="heading-para">"Your Trash is someone else's Treasure"
          The organization donates clothes to the poor in orphanages or old age homes. You can also help us in this
          noble cause.
          Through your request, we will provide you the day on which we will collect the donated clothes from your
          nearby areas.
          If you are not able to donate clothes due to being from another state, you can also send clothes by courier to
          our given address.

          So all of you are requested to actively participate in this campaign and donate your old clothes.
          This winter let us pledge to do something good...
          Please donate your mildly used winter clothes for the need..
        </p>
      </div>
    </div>
    <div class="container grid grid-two-column abt">
      <div class="about-data">
        <p class="heading-para">"Your Trash is someone else's Treasure"
          The organization donates clothes to the poor in orphanages or old age homes. You can also help us in this
          noble cause.
          Through your request, we will provide you the day on which we will collect the donated clothes from your
          nearby areas.
          If you are not able to donate clothes due to being from another state, you can also send clothes by courier to
          our given address.

          So all of you are requested to actively participate in this campaign and donate your old clothes.
          This winter let us pledge to do something good...
          Please donate your mildly used winter clothes for the need..
        </p>
      </div>
      <div class="about-image-div"><img src="css/image/food-for-lifewb..png" alt="image" class="about-image"></div>

    </div>
    <div class="container grid grid-two-column abt">
      <div class="about-image-div"><img src="css/image/MCamp.jpg" alt="image" class="about-image"></div>
      <div class="about-data">
        <p class="heading-para">"Your Trash is someone else's Treasure"
          The organization donates clothes to the poor in orphanages or old age homes. You can also help us in this
          noble cause.
          Through your request, we will provide you the day on which we will collect the donated clothes from your
          nearby areas.
          If you are not able to donate clothes due to being from another state, you can also send clothes by courier to
          our given address.

          So all of you are requested to actively participate in this campaign and donate your old clothes.
          This winter let us pledge to do something good...
          Please donate your mildly used winter clothes for the need..
        </p>
      </div>

    </div>
    <div class="container grid grid-two-column abt">
      <div class="about-data">
        <p class="heading-para">"Your Trash is someone else's Treasure"
          The organization donates clothes to the poor in orphanages or old age homes. You can also help us in this
          noble cause.
          Through your request, we will provide you the day on which we will collect the donated clothes from your
          nearby areas.
          If you are not able to donate clothes due to being from another state, you can also send clothes by courier to
          our given address.

          So all of you are requested to actively participate in this campaign and donate your old clothes.
          This winter let us pledge to do something good...
          Please donate your mildly used winter clothes for the need..
        </p>
      </div>
      <div class="about-image-div"><img src="css/image/raise-funds.jpg" alt="image" class="about-image"></div>

    </div>

  </section>
  <!-- ======================================== 
          Our contact us Section Start  
    ========================================  -->
  <section class="section section-contact" id="contact">
    <div class="container">
      <h2 class="contact-heading">Contact us</h2>
    </div>
    <div class="section-contact-main contact-container">
      <form action="/contact" method="POST">
        <div class="grid grid-two-column">
          <div>
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="User Name">
          </div>

          <div>
            <label for="phone"></label>
            <input type="text" name="phone" id="phone" placeholder="phone number">
          </div>
          <div>
            <label for="subject"></label>
            <input type="text" name="subject" id="subject" placeholder="Subject">
          </div>
          <div>
            <label for="email"></label>
            <input type="text" name="email" id="email" placeholder="data@mail.com">
          </div>
        </div>

        <div>
          <label for="textarea"></label>
          <textarea name="textarea" id="textarea" cols="20" rows="10"></textarea>
        </div>
        <div><input type="submit" name="submit" id="submit" class="btn"></div>
      </form>
    </div>
  </section>

  </main>
 
 
  <!-- ======================================== 
          Our footer Section Start  
    ========================================  -->
  {{>footer}}


  <!-- ======================================== 
          Our JavaScript Section Start  
    ========================================  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</body>

</html>