<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  {{>nav}}
    <section class="section-hero section background-nav">
        <div class="container grid grid-two-column">
          <div class="section-hero-date">
            <h1 class="hero-heading">Clothes</h1>
            <p class="heading-para">Your Trash is someone else's Treasure"
                The organization donates clothes to the poor in orphanages or old age homes. You can also help us in this noble cause.
                Through your request, we will provide you the day on which we will collect the donated clothes from your nearby areas.
                If you are not able to donate clothes due to being from another state, you can also send clothes by courier to our given address.
                
                And there is another option to you A campaign is run by our organization in the last 2 days of every month in ridge maidan in which we collect the old clothes given by the people. You can donate anything like blankets clothes or bed sheet.
                After the campaign is over, we donate all these clothes to the orphanage on the first day of the month.
                So all of you are requested to actively participate in this campaign and donate your old clothes.
                This winter let us pledge to do something good...
                Please donate your mildly used winter clothes for the need..
            </p>
         
            <!-- <div class="hero-bg"><a href="/registration" class="btn donate-now-btn"><img src="css/image/d-icon65.png" alt="logo"
                  class="d-icon" /></a></div> -->
          </div>
          <div class="about-image-div"><img src="../css/image/clothesimg.jpg" alt="image" class="about-image"></div>
        </div>
        <div class="container login"><a href="/registration"><button class="login-btn">Register/Login</a></button> </div>
      </section>
      {{>footer}}
</body>
</html>